* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;    
    background-color: #f8ece4;
    color: #00154f;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #00154f;
}

.menu {
    display: flex;
}

.menu li {
    display: flex;
    margin: 20px;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    color: #edc53b;    
}

.menu li:hover {
    color: #f2bc94;
}

.menu a {
    text-decoration: none;    
}

.imagem-menu img{
    width: 250px;
}

.content section{
    margin: 30px;
}

.content h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;    
    line-height: 45px;
}

.cards{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    padding: 13px;
    border-radius: 7px;
    margin: 20px;
    box-shadow: 1px 1px 4px #00154f;
}

.img-card, .img-card img{
    height: 150px;
    border-radius: 50%;
}

.title-card{
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    padding: 5px;
}

.conteudo-secao {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.descricao-sobre{
    line-height: 25px;
    font-size: 18px;
}

.imagem-secao{
    width: 25%;
    margin: 10px 50px;
    border-radius: 10px;
}

#tabela{
    width: calc(100% - 60px);
    border-collapse: collapse;
    border-radius: 5px;
}

#tabela *{
    padding: 5px;
    border-radius: 5px;
}

#tabela thead tr th, #tabela tfoot tr td{
    border: 1px solid #f2bc94;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
}

#tabela tbody tr td{
    border: 1px solid #00154f;
}

#tabela thead, #tabela tfoot{
    color: #edc53b;
    background-color: #00154f;
}

.form input, .form textarea{
    width: calc(100% - 60px);
    border: 1px solid #00154f;
    border-radius: 7px;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 7px;
}

.form .btn{
    margin: 10px 20px;
    color: #edc53b;
    background-color: #00154f;
    border: 1px solid #00154f;
    box-shadow: 1px 2px 4px #edc53b;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;

    cursor: pointer;
    padding: 5px 15px;
}

.form .btn:hover{
    color: #00154f;
    background-color: #edc53b;
    border: 1px solid #edc53b;
    box-shadow: 1px 2px 4px #00154f;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #00154f;
    font-size: 14px;
    font-weight: bold;
    color: #edc53b;
}

@media (max-width: 700px) {

    .conteudo-secao{
        flex-direction: column;
    }
    
    .imagem-secao{
        width: 75%;
        margin: 20px 30px;
        border-radius: 10px;
    }

    .menu{
        flex-direction: column;
    }

    .menu li{
        margin: 10px
    }
}